<a href="https://colab.research.google.com/github/Alherrera2798/HHA_507_StreamlitFinal/blob/main/Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Importing** any packages that will be of use our assignment 
#### - Importing and Installing all required packages

In [5]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
!pip install sweetviz

In [ ]:
!pip install pandas_profiling

In [4]:
import sweetviz
import sweetviz as sv

# Datasets from github repo and loading them
#### hospital_info.csv
#### inpatient_2015.csv
#### outpatient.csv

In [26]:
df_hospital = pd.read_csv('https://raw.githubusercontent.com/hantswilliams/AHI_DataSci_507/main/Deployment_Streamlit/hospital_info.csv')
df_hospital

     provider_id  ...                              location
0         310119  ...            POINT (-74.19213 40.74095)
1         310016  ...  POINT (-74.05014200000001 40.734876)
2         390123  ...          POINT (-75.611502 40.243941)
3         440002  ...           POINT (-88.831973 35.63954)
4         330080  ...          POINT (-73.924072 40.817681)
...          ...  ...                                   ...
5309      49001F  ...          POINT (-77.142608 38.705877)
5310      26002F  ...          POINT (-92.116491 37.766471)
5311      50014F  ...         POINT (-122.680142 48.336875)
5312      21007F  ...           POINT (-77.096801 38.99949)
5313      45070F  ...          POINT (-97.775132 31.130337)

[5314 rows x 29 columns]

In [ ]:
df_inpatient = pd.read_csv('https://raw.githubusercontent.com/hantswilliams/AHI_DataSci_507/main/Deployment_Streamlit/inpatient_2015.csv')
df_inpatient

In [ ]:
df_outpatient = pd.read_csv('https://raw.githubusercontent.com/hantswilliams/AHI_DataSci_507/main/Deployment_Streamlit/outpatient_2015.csv')
df_outpatient

# Printing number of rows or length of each dataset

In [ ]:
print('Hospital_infoLength: ', len(df_hospital))

In [18]:
print('OutpatientLength: ', len(df_outpatient))

OutpatientLength:  32532

In [ ]:
print('InpatientLength: ', len(df_inpatient))

# Listing the unique columns of each datasets df_hospital, df_inpatient, & df_outpatient

In [15]:
list(df_hospital)

['provider_id',
 'hospital_name',
 'address',
 'city',
 'state',
 'zip_code',
 'county_name',
 'phone_number',
 'hospital_type',
 'hospital_ownership',
 'emergency_services',
 'meets_criteria_for_meaningful_use_of_ehrs',
 'hospital_overall_rating',
 'hospital_overall_rating_footnote',
 'mortality_national_comparison',
 'mortality_national_comparison_footnote',
 'safety_of_care_national_comparison',
 'safety_of_care_national_comparison_footnote',
 'readmission_national_comparison',
 'readmission_national_comparison_footnote',
 'patient_experience_national_comparison',
 'patient_experience_national_comparison_footnote',
 'effectiveness_of_care_national_comparison',
 'effectiveness_of_care_national_comparison_footnote',
 'timeliness_of_care_national_comparison',
 'timeliness_of_care_national_comparison_footnote',
 'efficient_use_of_medical_imaging_national_comparison',
 'efficient_use_of_medical_imaging_national_comparison_footnote',
 'location']

In [16]:
list(df_inpatient)

['provider_id',
 'provider_name',
 'provider_street_address',
 'provider_city',
 'provider_state',
 'provider_zipcode',
 'drg_definition',
 'hospital_referral_region_description',
 'total_discharges',
 'average_covered_charges',
 'average_total_payments',
 'average_medicare_payments']

In [17]:
list(df_outpatient)

['provider_id',
 'provider_name',
 'provider_street_address',
 'provider_city',
 'provider_state',
 'provider_zipcode',
 'apc',
 'hospital_referral_region',
 'outpatient_services',
 'average_estimated_submitted_charges',
 'average_total_payments']

# **Creating a profile report of each dataframe**

In [7]:
from pandas_profiling import ProfileReport

In [ ]:
!pip install pandas-profiling==2.7.1

In [ ]:
hospital_profile = ProfileReport(df_hospital,title = "Pandas Profiling Report - Hopsital Info")
hospital_profile

In [ ]:
inpatient_profile = ProfileReport(df_inpatient, title = "Pandas Profiling Report - Inpatient Info")
inpatient_profile

In [ ]:
outpatient_profile = ProfileReport(df_outpatient, title = "Pandas Profiling Report - Outpatient Info")
outpatient_profile

# **Cleaning of each dataset**

In [ ]:
!pip install pyjanitor

In [71]:
from janitor import clean_names, remove_empty

In [85]:
# Cleaning df_hospital
hospital_cleaneddf = pd.DataFrame.from_dict(df_hospital)
df = clean_names(hospital_cleaneddf)
df = remove_empty(hospital_cleaneddf)

In [ ]:
display(hospital_cleaneddf)

In [ ]:
# Check for null values
hospital_cleaneddf.isnull().sum()

In [ ]:
display(hospital_cleaneddf)

In [87]:
#Cleaning of df_inpatient
inpatient_cleaneddf = pd.DataFrame.from_dict(df_inpatient)
inpatient_cleaneddf = clean_names(inpatient_cleaneddf)
inpatient_cleaneddf = remove_empty(inpatient_cleaneddf)

In [ ]:
# Check for null values
inpatient_cleaneddf.isnull().sum()

In [ ]:
display(inpatient_cleaneddf)

In [90]:
# Cleaning df_outpatient
outpatient_cleaneddf = pd.DataFrame.from_dict(df_outpatient)
outpatient_cleaneddf = clean_names(outpatient_cleaneddf)
outpatient_cleaneddf = remove_empty(outpatient_cleaneddf)

In [ ]:
# Check for null values
outpatient_cleaneddf.isnull().sum()

In [ ]:
display(outpatient_cleaneddf)

# **Merging Datasets**

In [93]:
# Changing necessary data types to make merging easy
# Using provider_id as primary key
hospital_cleaneddf['provider_id'] = hospital_cleaneddf['provider_id'].astype(str)
inpatient_cleaneddf['provider_id'] = inpatient_cleaneddf['provider_id'].astype(str)
outpatient_cleaneddf['provider_id'] = outpatient_cleaneddf['provider_id'].astype(str)

In [ ]:
inpatient_hospital = inpatient_cleaneddf.merge(hospital_cleaneddf, how = 'left', left_on = 'provider_id', right_on = 'provider_id')
inpatient_hospital.sample(10)

In [ ]:
outpatient_hospital = outpatient_cleaneddf.merge(hospital_cleaneddf, how = 'left', left_on = 'provider_id', right_on = 'provider_id')
outpatient_hospital.sample(10)